@import "colors";
@import "nav-bar";
@mixin clearfix() {
    &:after,
    &:before {
        clear: both;
        display: block;
        content: "";
    }
}
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF;
}
#map {
    border: black solid 3px;
    height: 100%;
}
.sidebar {
    height: 100%;
    float: right;
}
.options-panel {
    border: red dashed 3px;
}
.itinerary-container {
    border: green solid 3px;
}
.itinerary {
    border: orange dotted 3px;
}
.day-btns {
    border: purple dashed 3px;
}
