.navbar-inverse {
    background-color: $fuckin_brown;
    border-color: $fuckin_brown;

    .navbar-toggle, .navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus{
        background-color: $fuckin_brown;
        border-color: $fuckin_brown;

        .icon-bar{
            background-color: $text_yellowish;
        }

    }

}


.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-toggle {
    color: $text_yellowish;
}
